// Цвета
$username-color: #0cb4f1;
$font-color: #acacac;
$accent-color: #e74c3c;
$background-color: #f7f7f7;
$tablet-color: #9eaab4;

// Шрифты
$font-family-base: 'Inter', sans-serif;
$font-small: 14px;
